<settings>
    <setting propertyKey="@Properties.myTheme" title="@Strings.Theme" prompt="@Strings.ThemePrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.DarkBlue</listEntry>
            <listEntry value="4">@Strings.DarkRed</listEntry>
            <listEntry value="5">@Strings.DarkGreen</listEntry>
            <listEntry value="7">@Strings.Orange</listEntry>
            <listEntry value="1">@Strings.Pink</listEntry>
            <listEntry value="2">@Strings.LightBlue</listEntry>
            <listEntry value="6">@Strings.LightPink</listEntry>
            <listEntry value="3">@Strings.LightGreen</listEntry>
        </settingConfig>
    </setting>
</settings>